<!--
  templateType: global_partial
  label: Footer
-->
<style>
  
  {% require_css %}
<link rel="stylesheet" type="text/css" href="{{ get_asset_url('/duality/css/contact-app.css') }}" />
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
{% end_require_css %}
  
  
footer {
  background: rgb(231, 237, 241);
  color: rgb(24, 24, 24);
  display: block;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  width: 100%;
  z-index: 5999;
  transition: all 0.5s;
  clear: both;
  
}

.footer-text {
  width: 75%;
  margin: 0 auto;
  clear: both;
  line-height: 6em;
  height: 50%;
}


</style>


<footer>
    <div class="footer-text">
     <p style="color: black" >Copyright © 2022 Duality</p>
    </div>
  </footer>
